@page "{RoundId:int}"
@model GolfProgressTracker.Web.Pages.EditRoundModel

@Html.AntiForgeryToken()

@section Styles {
    <style>
        .form-floating > input {
            background: #97a4bf;
        }

        .form-floating > input:focus {
            background-color: #97a4bf !important;
        }

        .form-floating > label {
            color: black;
            font-weight: 500;
        }
    </style>
}

<div class="container text-center">
    <div class="row text-start">
        <div class="col ms-5">
            <h3>Edit Round</h3>
        </div>
    </div>
    <div class="row mt-1 text-start">
        <div class="col ms-5">
            <a asp-page="Index" class="btn btn-info px-4">Back</a>
        </div>
    </div>
    @if (TempData["Error"] is not null)
    {
        <div class="row my-2">
            <div class="col">
                <div class="alert alert-danger" role="alert">
                    <span>@TempData["Error"]</span>
                </div>
            </div>
        </div>
    }
    <partial name="~/Pages/Shared/_EditRoundAndHolesPartial.cshtml" model="Model.EditRoundAndHolesViewModel" />
</div>